<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.calendar.mapper.CalendarMapper">
	<select  id="calendarList" parameterType="CalendarVo" resultType="CalendarVo">
		select calendarno,
			   caltitle title,
			   CALCONTENT description,
			   		STARTDATE "start",
			   		ENDDATE "end",
			   		WRITER username,
			   		backgroundColor,
			   		textColor
			 
			   	
		from calendar 
		where 
		#{startDate} between startdate and enddate
			or #{endDate} between startdate and enddate
			or startdate between #{startDate} and #{endDate}
			or enddate between #{startDate} and #{endDate}
	</select>
		
	<insert id="calendarInsert" parameterType="CalendarVo">
	<selectKey resultType="int" keyProperty="calendarno" order="BEFORE">
        SELECT def_seq.nextval FROM dual        
    </selectKey>
		insert into calendar(
					calendarno,
					caltitle,
					calcontent,
					startdate,
					enddate,
					writer,
					backgroundColor,
					textColor
					)
		values(
				#{calendarno},
				#{title},
				#{description},
				#{start},
				#{end},
				#{username},
				#{backgroundColor},
				#{textColor}
				)
	</insert>
	
	<update id="calendarUpdate" parameterType="CalendarVo">
	<selectKey resultType="int" keyProperty="calendarno" order="BEFORE">
        SELECT def_seq.nextval FROM dual        
    </selectKey>
		update calendar
		set caltitle=#{title},
			calcontent=#{description},
			startdate=#{start},
			enddate=#{end},
			writer=#{username},
			backgroundColor=#{backgroundColor},
			textColor=#{textColor}
		where calendarno = #{calendarno}
	</update>
	
	<delete id="calendarDelete" parameterType="CalendarVo">
		delete from calendar
		where calendarno = #{calendarno}
	</delete>
	
	
</mapper>
