<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.calendar.mapper.CalendarMapper">
	
		
	<insert id="CalendarInsert" parameterType="CalendarVo">
		insert into calendar(
					calendarno,
					caltitle,
					calcontent,
					startdate,
					enddate,
					writer,
					backgroundColor,
					textColor
					)
		values(
				def_seq.nextval,
				#{title},
				#{description},
				#{start},
				#{end},
				#{username},
				#{backgroundColor},
				#{textColor}
				)
	</insert>
	
	
</mapper>
