<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.team.apt.esey.mapper.CarMapper">

<select id="carList" resultType="CarVo" parameterType="CarVo">
		SELECT * FROM CAR where id=#{id}
</select>

<insert id="carInsert" parameterType="CarVo">
	insert into car (carnum,cartype,id,cno) values(#{carNum},#{carType},#{Id},CNO_SEQ.nextval)
</insert>

<select id="selectOne" resultType="CarVo" parameterType="CarVo">
	select * from car where cno=#{cno}
</select>


<select id = "cerror" resultType="integer" parameterType="CarVo">
	select count(*) cno
from car
where id in ( select id 
              from resident r, (select dong,ho 
                                from resident 
                                where id=#{id}) m
              where r.dong = m.dong
              and r.ho = m.ho and r.del='ing')

</select>

</mapper>