<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.team.apt.esey.mapper.CarMapper">

<select id="carList" resultType="CarVo" parameterType="CarVo">
		SELECT c.*,r.dong,r.ho FROM CAR c, resident r where c.id = r.id and c.id=#{id} 
</select>

<insert id="carInsert" parameterType="CarVo">
	insert into car (carnum,cartype,id,cno) values(#{carNum},#{carType},#{Id},CNO_SEQ.nextval)
</insert>

<select id="selectOne" resultType="CarVo" parameterType="CarVo">
	select * from car where cno=#{cno}
</select>


<select id = "cerror" resultType="integer" parameterType="CarVo">
	select count(*) cno
from car
where id in ( select id 
              from resident r, (select dong,ho 
                                from resident 
                                where id=#{id}) m
              where r.dong = m.dong
              and r.ho = m.ho and r.del='ing')

</select>

<delete id="carDelete" parameterType="CarVo">
	delete from car
	where cno = #{cno}
</delete>
<update id="carUpdate" parameterType="CarVo">
	update car set carnum=#{carNum},
			cartype = #{carType},
			cno = #{cno},
			Id = #{Id},
			where cno = #{cno}
</update> 

<!-- 관리자 입주자 차량조회 -->
	<select id="mCarList" resultType="CarVo" parameterType="CarVo">
	SELECT c.*,r.dong,r.ho FROM CAR c, resident r where c.id = r.id
	</select>
</mapper>