<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.facility.mapper.FacilityMapper">
	<insert id="insertLibrary" parameterType="FacilityVo">
		insert into ${type} (
			id,
			<if test="seat != null and seat != ''">
				seat,
			</if>
			startdate,
			enddate,
			cost,
			paydate,
			payno
			)
		values(
			#{id},
			<if test="seat != null and seat != ''">
				#{seat},
			</if>
			#{startDate},
			add_months(#{startDate},${month}),
			#{cost},
			sysdate,
			#{payNo}
		)
	</insert>
	
	
	<select id="getSeat" resultType="FacilityVo">
		select seat from library
	</select>
	
	<select id="getLibrary" resultType="FacilityVo">
		select * from ${type} where id = #{id}
	</select>
	
	<update id="cancelLibrary" parameterType="FacilityVo">
		update ${type}
		set cancel = 'yes'
		where id = #{id}
	</update>
	
	<select id="manageLibrary" resultType="FacilityVo">
		select * from library order by cancel desc
	</select>
</mapper>
