<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.facility.mapper.FacilityMapper">
	<insert id="insertLibrary" parameterType="FacilityVo">
		insert into ${type} (
			id,
			<if test="seat != null and seat != ''">
				seat,
			</if>
			startdate,
			enddate,
			cost,
			paydate,
			payno
			)
		values(
			#{id},
			<if test="seat != null and seat != ''">
				#{seat},
			</if>
			#{startDate},
			add_months(#{startDate},${month}),
			#{cost},
			sysdate,
			#{payNo}
		)
	</insert>
	
	
	<select id="getSeat" resultType="FacilityVo">
		select * 
		from library
		<where>
			<if test="startDate != null and startDate !=''">
			add_months(#{startDate},${month}) between startdate and enddate
			or #{startDate} between startdate and enddate
			or startdate between #{startDate} and add_months(#{startDate},${month})
			or enddate between #{startDate} and add_months(#{startDate},${month})
			</if>
		</where> 
	</select>
	
	<select id="getLibrary" resultType="FacilityVo">
		select * from ${type} where id = #{id}
	</select>
	
	<update id="cancelLibrary" parameterType="FacilityVo">
		update ${type}
		set cancel = 'yes',
		cost = #{cost}
		content = #{content}
		where id = #{id}
	</update>
	
	<select id="manageLibrary" resultType="FacilityVo" parameterType="ResidentVo">
		select r.name, r.phone, r.dong ||'동 '|| r.ho||'호' address, l.*
		from resident r, ${type} l
		where r.id = l.id
		order by cancel desc, enddate
	</select>
	
	<delete id="deleteLibrary">
		delete from ${type} where id=#{id}
	</delete>
	
	<delete id="terminateFitness">
		<![CDATA[delete from fitness where enddate < sysdate]]>
		
	</delete>
	
	<delete id="terminateLibrary">
		<![CDATA[delete from library where enddate < sysdate]]>
	</delete>
</mapper>
