<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.team.apt.esey.mapper.PostBoxMapper">

<select id="postBoxList" resultType="PostBoxVo" parameterType="PostBoxVo">
		select a.* from( select b.*, rownum rm from (
		SELECT * FROM POSTBOX 
		where dong=#{dong} and ho=#{ho}
		<if test="search != null and search != ''">
			and ${searchType} like '%' || #{search} || '%'
		</if>
		) b ) a where rm between #{start} and #{end}
</select>

<select id="selectOne" resultType="PostBoxVo" parameterType="PostBoxVo">
	select * from postBox where postno=#{postNo}
</select>

<!-- 관리자 택배조회 -->
	<select id="mPostBox" resultType="PostBoxVo" parameterType="PostBoxVo">
		select a.* from( select b.*, rownum rm from (
		SELECT rownum rn,a.* FROM POSTBOX a 
		<include refid="searchQuery"></include>
		order by get desc, ARRIVEDATE desc
		) b ) a where rm between #{start} and #{end}
		
		
</select>
	<select id="pagingCount" resultType="int">
	    SELECT count(*) 
		FROM postbox 
		<include refid="searchQuery"></include>
	</select>
	
	<select id="rpagingCount" resultType="int">

		SELECT count(*) FROM POSTBOX 
		where dong=#{dong} and ho=#{ho}
		<if test="search != null and search != ''">
			and ${searchType} like '%' || #{search} || '%'
		</if>
		
	</select>
	
	<sql id = "searchQuery">
		<!-- <choose>
			<when test="searchType == 'all' ">
				where
				type = #{type}
				and (title like '%' || #{search} || '%'
				or content like '%' || #{search} || '%'
				or writer like '%' || #{search} || '%')
			</when>
			<otherwise>
				where
				type = #{type}
			<if test="search != null and search != ''">
				and ${searchType} like '%' || #{search} || '%'
			</if>
			</otherwise>
		</choose> -->
		<where>
			<if test="search != null and search != ''">
				<choose>
				<when test="searchType == 'dong'">
					dong||'/'||ho = #{search}
				</when>
				<otherwise>
					${searchType} like '%' || #{search} || '%'
				</otherwise>
				</choose>
			</if>
		</where>
		
	</sql>

 <!--관리자 택배 등록 -->
<insert id = "mPostBoxInsert" parameterType = "PostBoxVo">
	insert into POSTBOX (POSTNO,dong,ho,PRODUCT) values (SEQ_POSTBOX.nextval,#{dong},#{ho},#{product})
</insert>

<update id="mPostBoxUpdate" parameterType="PostBoxVo">
	update postbox set product=#{product},
			dong = #{dong},
			ho = #{ho},
			arrivedate = #{arriveDate},
			gettime = #{getTime},
			get = #{get} 
			where postno = #{postNo}
</update> 

 <delete id="mPostBoxDelete" parameterType="PostBoxVo">
	delete from postbox
	where postno = #{postNo}
	</delete>
	
<update id="mafter" parameterType="PostBoxVo"> 
	update postbox set get = 'after' , getTime = sysdate where postno = #{postNo}
</update>


<update id="mbefore" parameterType="PostBoxVo"> 
	update postbox set get = 'before' , getTime = null where postno = #{postNo}
</update>


</mapper>

