<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="co.team.apt.esey.mapper.PostBoxMapper">

<select id="postBoxList" resultType="PostBoxVo" parameterType="PostBoxVo">
		SELECT * FROM POSTBOX where dong=#{dong} and ho=#{ho}
</select>

<select id="selectOne" resultType="PostBoxVo" parameterType="PostBoxVo">
	select * from postBox where postno=#{postNo}
</select>

<!-- 관리자 택배조회 -->
	<select id="mPostBox" resultType="PostBoxVo" parameterType="PostBoxVo">
		SELECT rownum rn,a.* FROM POSTBOX a order by rn
</select>

 <!--관리자 택배 등록 -->
<insert id = "mPostBoxInsert" parameterType = "PostBoxVo">
	insert into POSTBOX (POSTNO,dong,ho,PRODUCT) values (SEQ_POSTBOX.nextval,#{dong},#{ho},#{product})
</insert>

<update id="mPostBoxUpdate" parameterType="PostBoxVo">
	update postbox set product=#{product},
			gettime = #{getTime},
			get = #{get} 
			where postno = #{postNo}
</update> 

 <delete id="mPostBoxDelete" parameterType="PostBoxVo">
	delect from postbox
	where postno = #{postNo}
	</delete>
</mapper>