<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.qna.mapper.QnaMapper">

	<select id="qnaList" resultType="QnaVo" parameterType="QnaVo">
		select a.* from( select b.*, rownum rn from (
		SELECT * 
		FROM qna
		<include refid="searchQuery"/>
		order by family DESC, depth ASC
	) b ) a where rn between #{start} and #{end}
	</select>
	
	<sql id = "searchQuery">
		<choose>
			<when test="searchType == 'all' ">
				where 
				(title like '%' || #{search} || '%'
				or content like '%' || #{search} || '%'
				or writer like '%' || #{search} || '%')
			</when>
			<otherwise>
			<if test="search != null and search != ''">
				where ${searchType} like '%' || #{search} || '%'
			</if>
			</otherwise>
		</choose>
	</sql>
		
	<select id="pagingCount" resultType="int">
	SELECT count(*) 
		FROM qna
		<include refid="searchQuery"></include>
	</select>	
	
	<select id="qnaOne" resultType="QnaVo" parameterType="QnaVo">
		select *
		from qna
		where qnano=#{qnano}
	</select>
	
	<insert id="qnaInsert" parameterType="QnaVo">
		<selectKey resultType="int" keyProperty="board_re_ref" order="BEFORE">
        
        SELECT IFNULL(MAX(BOARD_RE_REF), 0) + 1 
        FROM BOARD.TB_BOARD
          
    </selectKey>
		insert into qna(
					qnano,
					title,
					content,
					defdate,
					writer,
					type
					)
		values(
				def_seq.nextval,
				#{title},
				#{content},
				sysdate,
				#{writer},
				#{type}
				)
	</insert>
	
	<update id="qnaUpdate" parameterType="QnaVo">
		update qna
		set title=#{title},
			content=#{content},
			qnadate=sysdate
		where qnano = #{qnano}
	</update>

	<delete id="qnaDelete" parameterType="QnaVo">
		delete from qna
		where qnano = #{qnano}
	</delete>
</mapper>
