<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="co.team.apt.esey.mapper.VisitCarMapper">
  
  
  	<select id="visitList" resultType="VisitCarVo" parameterType="VisitCarVo">
		SELECT c.*,r.dong,r.ho FROM visitcar c, resident r where c.id = r.id and c.id=#{id}
		
	</select>
  	
  	
  	
  	<insert id="visitCarInsert" parameterType="VisitCarVo" >
  		INSERT INTO VISITCAR (
								PURPOSE, 
								STARTDATE,
								ENDDATE,
								CARNUM,
								ID,
								VISITNO
								)
	 	                VALUES(	
	 	               			#{purpose},
	 	               			#{startDate},
	 	               			#{endDate},
	 	               			#{carNum},
	 	               			#{Id},
	 	               			ViSITCNO_SEQ.nextval
	 	               			)
  	
  	</insert>
  	
  	<select id="selectOne" resultType="VisitCarVo" parameterType="VisitCarVo">
		select * from VISITCAR where visitno = #{visitNo}
	</select>
	
	<delete id="visitCarDelect" parameterType="VisitCarVo">
	
		delete from visitcar
		where visitno = #{visitNo}
	
	</delete>
  	
  	<update id="visitCarUpdate" parameterType="VisitCarVo">
		update visitcar set carnum=#{carNum},
			purpose = #{purpose},
			startdate = #{startDate},
			enddate = #{endDate}
			where visitno = #{visitNo}
	</update>
  
  	<select id="mVisitList" resultType="VisitCarVo" parameterType="VisitCarVo">
		SELECT c.*,r.dong,r.ho FROM visitcar c, resident r where c.id = r.id
	</select>
  	
	<update id="ming" parameterType="VisitCarVo"> 
		update visitcar set vcget = 'ming' where visitno = #{visitNo}
	</update>
		
	<update id="ref" parameterType="VisitCarVo"> 
		update visitcar set vcget = 'ref' where visitno = #{visitNo}
	</update>
	
	<update id="cpl" parameterType="VisitCarVo"> 
		update visitcar set vcget = 'cpl' where visitno = #{visitNo}
	</update>

  </mapper>
  
  
  