<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="co.team.apt.vote.mapper.BoardVoteMapper">

	<select id="searchName" resultType="ResidentVo" parameterType="ResidentVo">
		select id, name, dong, ho 
		from resident
		where name= #{name}
	</select>
	
	<insert id="registerId" parameterType="candidateVo">
		insert into candidate(id)
		values (#{id})
	</insert>
	
	<select id="boardVoteList" resultType="BoardVoteVo" parameterType="BoardVoteVo">
		select *
		from boardvote
		order by seq desc
	</select>
	
	<select id="selectOne" resultType="BoardVoteVo" parameterType="BoardVoteVo">
		select *
		from boardvote
		where seq=#{seq}
	</select>
	
	<insert id="voteInsert" parameterType="BoardVoteVo">
		insert into boardvote(
								seq,
								title,
								startdate,
								enddate )
		values(
				seq_vote.nextval,
				#{title},
				#{startDate},
				#{endDate} )
	</insert>
	
	<update id="voteUpdate" parameterType="BoardVoteVo">
		update boardvote
		set title=#{title},		
			startdate=#{startDate},
			enddate=#{endDate}
		where seq = #{seq}
	</update>

	<delete id="voteDelete" parameterType="BoardVoteVo">
		delete from boardvote
		where seq = #{seq}
	</delete>
	
	

	
</mapper>
